@using SportsStore.Domain.Entities
@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<h2>List</h2>

<div class="row">

  @foreach (var p in Model.Products)
  {
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="@Url.Action("GetImage", "Product", new { p.ProductID })" alt="@p.Name" height="280"/>
          <div class="caption">
            <h3>@p.Name</h3>
            <p>@p.Description</p>
            <h4>@p.Price.ToString("c")</h4> @* ToString("c") reners numerical values as currency according to the culture settings of the server *@
          </div>
        </div>
      </div>
  }
</div>





<div>
  @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x}))
</div>

